:root {
    --background: #222;
    --main: #313131;
    --alt: #1f1f1f;
    --alt2: #3b3b3b;
    --text: #fff;
    --accent: #855ad4;
    --accent2: #494491;
    --shadows: #111;
    --screenwidth: ;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: #cfc5e6;
      --main: #e1dff1;
      --alt: #c9bbd4;
      --alt2: #beb4c7;
      --text: #241f30;
      --accent: #8157cf;
      --accent2: #494491;
      --shadows: #79757e;
      --screenwidth: ;
    }

    hr {
      box-shadow: var(--background) 0px 0px 20px;
    }

    h1 {
      font-weight: 400;
    }
  }

body {
    font-family: "Ubuntu", "Noto Sans", Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin-top: 80px;
    line-height: 150%;
}

hr {
  height: 2pt;
  background-color: var(--accent);
  border: none;
}

a {
  color: var(--accent);
  text-decoration: none;
}

img {
  border-radius: 5pt;
  cursor: pointer;
  transition: all, cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.25s;
  width: 80%;
  max-width: 540px;
}

img:active {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  scale: 1.2;
  box-shadow: var(--accent) 0px 0px 60px;
}

.spoiler {
  filter: blur(10px);
}

.spoiler:active:active {
  z-index: 1;
  filter: blur(0px);
}

.flag {
  border-radius: 1pt;
  width: 20px;
}

.banner {
  height: 150pt;
  border-radius: 5pt;
  background-image: linear-gradient(to bottom right, var(--accent), var(--accent2));
  margin: 20pt;
  margin-inline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50pt;
  font-weight: bold;
  color: white;
  box-shadow: var(--shadows) 0px 0px 50px;
}

.root {
  max-width: fit-content;
  margin-inline: auto;
  text-align: center;
  width: 80%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  padding: 10pt;
  border-radius: 10pt;
  text-align: start;
  border-width: 2pt;
  border-style:solid;
  border-color: var(--accent);
  max-width: 960px;
  box-shadow: var(--shadows) 0px 0px 50px;
  transition: all, 0.5s;
}

.box-big {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  padding: 10pt;
  border-radius: 10pt;
  text-align: start;
  box-shadow: var(--shadows) 0px 0px 50px;
  transition: all, 0.5s;
}

.box:hover {
  transform: scale(1.01);
}

iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.div_audio {
  max-width: 95%;
  background-color: var(--main);
  border-width: 2pt;
  border-radius: 10pt;
  border-style:solid;
  border-color: var(--accent);
  padding: 10pt;
  margin: 10pt;
  box-shadow: var(--shadows) 0px 0px 50px;
}

.topnav {
    background-color: var(--main);
    box-shadow: var(--shadows) 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  
  .topnav a {
    float: left;
    color: var(--text);
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    transition: all, 0.2s;
    border-radius: 10pt;
  }
  
  .topnav a:hover {
    background-color: var(--alt2);
  }
  
  .topnav a.active {
    background-color: var(--accent);
    color: white;
  }