body {
    background-color: #ecdce0;
    font-family: "Carlito", Arial, Helvetica, sans-serif;
    font-size: 11.5pt;
    color: #484044;
    margin: 0;
}

h1, h2, h3 {
    margin: 16px;
    margin-inline: 0;
}

p {
    max-width: 480px;
}

a {
    color: #bd6993;
    text-decoration: none;
    padding-bottom: 1px;
    background-image: linear-gradient(
        to right,
        rgba(255, 150, 220, 0),
        #e7bcd2,
        rgba(255, 150, 208, 0));
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 1px;
}

footer {
    margin: 16px;
    margin-left: 0px;
    text-align: center;
}

.frame {
    background-image: linear-gradient(
        white,
        #f3eff0
    );
    border: solid 1px #e3dde4;
    border-radius: 4px;
    box-shadow:
        0 1px 1px 0 #c5b9c5,
        inset 0 0 4px 0 #f3eff3;

    padding: 4px;
    padding-inline: 16px;
    max-width: 480px;
    margin: 8px;
    margin-inline: auto;
}